<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="webjars/bootstrap/4.1.1/js/bootstrap.js"></script>
</head>
<body>
<h1 th:text="${current}">Hello</h1>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><a class="sorted">User name</a></th>
        <th><a class="sorted">First name</a></th>
        <th><a class="sorted">Last name</a></th>
        <th><a class="sorted">Password</a></th>
        <th><a class="sorted">Enabled</a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <th><a class="sorted" th:text="${user.userName}">First name</a></th>
        <th><a class="sorted" th:text="${user.firstName}">First name</a></th>
        <th><a class="sorted" th:text="${user.lastName}">First name</a></th>
        <th><a class="sorted" th:text="${user.password}">Last name</a></th>
        <th><a class="sorted" th:text="${user.enabled}">Block</a></th>
        <th><a th:href="@{/edit/__${user.userName}__}">Edit</a></th>
        <th>
            <a th:if="${user.enabled==true}" th:href="@{/block/__${user.userName}__}">Block</a>
            <a th:unless="${user.enabled==true}" th:href="@{/block/__${user.userName}__}">Unblock</a>
        </th>
        <th>
            <a th:href="@{/delete/__${user.userName}__}">Delete</a>
        </th>
        <th></th>
    </tr>
    </tbody>
</table>
</body>
</html>